.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 60px;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
}

.footer {
    height: 60px;
    flex-shrink: 0;
}

.todo-img {
    width: 150px;
    height: 150px;
}
